<div class="container">
  <div *ngIf="user.reseverd < 1 && user.rented === 0" class="jumbotron">
    <div class="container">
      <h1>Welcome back</h1>
      <p>{{user.firstname}} {{user.lastname}}</p>
      <p>
        <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
      </p>
    </div>
  </div>
  <div class="panel panel-default mainpanel">
    <div class="panel-body">
      <table *ngIf="user.reseverd < 1 && user.rented === 0" datatable="ng" [dtTrigger]="dtTrigger" width="100%" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th style="text-align: center;">Equipments</th>
            <th style="width: 5%;text-align: center;">Left</th>
            <th style="width: 10%;text-align: center;"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipment of equipments">
            <td>{{equipment.e_name}}</td>
            <td style="text-align: center">{{equipment.e_amount}}</td>
            <td style="text-align: center">
              <button [disabled]="equipment.e_amount <= 0" (click)="model.E_ID = equipment.e_ID" data-toggle="modal" href='#Resv-Confirm'
                type="button" class="btn btn-info btn-sm">Reserve</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="user.reseverd === 1">
        <button type="button" (click)="logout()" class="btn btn-danger pull-right">Logout</button>
        <div class="page-header">
          <h1>Reserve Sucesses
            <small> you can get you equipment from Sport Officer</small>
          </h1>
        </div>
      </div>

      <div *ngIf="user.rented === 1">
          <button type="button" (click)="logout()" class="btn btn-danger pull-right">Logout</button>
          <div class="page-header">
            <h1>Warning
              <small> You already rented our sport equipment</small>
            </h1>
          </div>
        </div>
    </div>
  </div>

</div>
<div class="modal fade" id="Resv-Confirm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Confirm</h4>
      </div>
      <div class="modal-body">
        <div class="center-block" style="text-align: center">
          <button type="button" data-dismiss="modal" class="btn btn-success btn-lg" (click)="resv(model.E_ID)">Yes</button>
          <i class="fa fa-fw fa-pause"></i>
          <button type="button" data-dismiss="modal" class="btn btn-danger btn-lg">No</button>
        </div>
      </div>
    </div>
  </div>
</div>