<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Equipments Management
      </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              List of In-use Equipments
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <table datatable="ng" [dtTrigger]="dtTrigger" width="100%" class="table table-striped table-bordered table-hover">
                  <thead>
                      <tr>
                          <th style="width: 15%; text-align: center;">Student ID </th>
                          <th style="text-align: center;">Name</th>
                          <th style="width: 15%;text-align: center;"> Equipment </th>
                          <th style="width: 25%;text-align: center;"> Rent Date</th>
                          <th style="width: 10%;text-align: center;"></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let used of inuse ">
                          <td style="text-align: center">{{used.u_SID}}</td>
                          <td style="text-align: center"> {{used.u_Name}}</td>
                          <td style="text-align: center">{{used.e_Name}} </td>
                          <td style="text-align: center">{{used.rentTime}}</td>
                          <td style="text-align: center">
                              <button (click)="model.Rent_ID = used.r_ID" data-toggle="modal" href='#returnEquip' type="button" class="btn btn-info btn-sm">Return</button>
                          </td>
                      </tr>
                  </tbody>
              </table>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->



<div class="modal fade" id="returnEquip">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm</h4>
                </div>
                <div class="modal-body">
                    <div class="center-block" style="text-align: center">
                        <button type="button" data-dismiss="modal" class="btn btn-success btn-lg" (click)="return()">Yes</button>
                        <i class="fa fa-fw fa-pause"></i>
                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-lg">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>