<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Equipments Management
          <a type="button" data-toggle="modal" href='#AddUser' class=" pull-right btn btn-default ">
              <i class="fa fa-plus fa-fw"></i> Add new</a>
      </h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row">
  <div class="col-lg-12">
      <div class="panel panel-default">
          <div class="panel-heading">
              List of registered user
          </div>
          <!-- /.panel-heading -->
          <div class="panel-body">
              <table datatable width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                      <tr>
                          <th style="text-align: center;">Equipments</th>
                          <th style="width: 13%;text-align: center;">Used</th>
                          <th style="width: 13%;text-align: center;">Reserve</th>
                          <th style="width: 13%;text-align: center;">Total</th>
                          <th style="width: 10%;text-align: center;">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Ping-pong bat </td>
                          <td>20</td>
                          <td>5</td>
                          <td>1</td>
                          <td>ACT</td>
                      </tr>
                      <tr>
                        <td>Ping-pong ball </td>
                        <td>20</td>
                        <td>5</td>
                        <td>4</td>
                        <td>ACT</td>
                    </tr>
                </tbody>
              </table>
              <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
      </div>
      <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="modal fade" id="AddUser">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Add new user</h4>
          </div>
          <div class="modal-body">
              <form method="post" action="#">
                  <div class="form-group">
                      <label for="name" class="cols-sm-2 control-label">Your Name</label>
                      <div class="cols-sm-10">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-user fa" aria-hidden="true"></i>
                              </span>
                              <input type="text" class="form-control" name="name" id="name" placeholder="Enter your Name" />
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="cols-sm-2 control-label">Your Email</label>
                      <div class="cols-sm-10">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-envelope fa" aria-hidden="true"></i>
                              </span>
                              <input type="text" class="form-control" name="email" id="email" placeholder="Enter your Email" />
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="username" class="cols-sm-2 control-label">Username</label>
                      <div class="cols-sm-10">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-users fa" aria-hidden="true"></i>
                              </span>
                              <input type="text" class="form-control" name="username" id="username" placeholder="Enter your Username" />
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="password" class="cols-sm-2 control-label">Password</label>
                      <div class="cols-sm-10">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                              </span>
                              <input type="password" class="form-control" name="password" id="password" placeholder="Enter your Password" />
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                      <div class="cols-sm-10">
                          <div class="input-group">
                              <span class="input-group-addon">
                                  <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                              </span>
                              <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password" />
                          </div>
                      </div>
                  </div>
              </form>

          </div>
          <div class="modal-footer">
              <div class="form-group ">
                  <button type="button" class="btn btn-primary btn-lg btn-block login-button">Register</button>
              </div>
          </div>
      </div>
  </div>
</div>