<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Rent an equipment</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Rent application
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Walk-in renter
                            <a type="button" data-toggle="modal" href="#AddUser" class="pull-right btn-sm btn btn-info ">Register User</a>
                        </h1>

                        <div class="form-group {{SIDState}}">
                            <label>Student ID</label>
                            <input style="height: 100px;font-size: 50px;text-align: center" class="form-control" #SID (keyup)="idSearch(SID)" placeholder="Enter Student ID">
                            <p class="help-block">{{SIDText}}</p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h1>Student Detail</h1>
                        <label style="color: #FFF;"> | </label>
                        <div class="panel panel-info">
                            <div style="height: 95px" class="panel-body">
                                <p>Name : {{Fullname}}</p>
                                <p>Telephone : {{user.telephone}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-6">
                        <h1>Reserved</h1>
                        <table datatable="ng" [dtTrigger]="dtTrigger" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Reserved By</th>
                                    <th>Equipment name</th>
                                    <th>Rent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let res of resv">
                                    <td style="vertical-align: middle;">{{res.u_SID}}</td>
                                    <td style="vertical-align: middle;">{{res.e_name}}</td>
                                    <td style="vertical-align: middle;">
                                        <button data-toggle="modal" href='#Resv-Confirm' type="button" class="btn btn-success btn-sm" (click)="rentID = res.e_ID; resv.getResvID = res.r_ID">Rent</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                    <div class="col-lg-6">
                        <h1>Available Equipment</h1>
                        <table datatable="ng" [dtTrigger]="dtTrigger" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                            <thead>
                                <tr>
                                    <th>Equipment name</th>
                                    <th>Available</th>
                                    <th>Rent</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let equipment of equipments">
                                    <td style="vertical-align: middle;">{{equipment.e_name}}</td>
                                    <td style="vertical-align: middle;">{{equipment.e_amount}}</td>
                                    <td style="vertical-align: middle;">
                                        <button [disabled]="!Fullname || equipment.e_amount <= 0" data-toggle="modal" href='#Rent-Confirm' type="button" class="btn btn-success btn-sm"
                                            (click)="rentID = equipment.e_ID">Rent</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.col-lg-6 (nested) -->
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->


<form #registerForm="ngForm">
    <div class="modal fade" id="AddUser">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add new user</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="name" class="cols-sm-2 control-label">Your Firstname</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" required [(ngModel)]="model.Firstname" name="Firstname" id="Firstname" placeholder="Firstname"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-12">
                        <label for="name" class="cols-sm-2 control-label">Your Lastname</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-user fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" [(ngModel)]="model.Lastname" name="Lastname" id="Lastname" placeholder="Lastname"
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="email" class="cols-sm-2 control-label">Your Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" required [(ngModel)]="model.Email" name="Email" id="Email" placeholder="Enter your Email"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="username" class="cols-sm-2 control-label">Username</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-users fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" required [(ngModel)]="model.Username" name="Username" id="Username" placeholder="Enter your Username"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="username" class="cols-sm-2 control-label">Student ID</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-users fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" required [(ngModel)]="model.StudentId" name="StudentId" id="StudentId" placeholder="Enter StudentId"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="username" class="cols-sm-2 control-label">Telephone Number</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-users fa" aria-hidden="true"></i>
                                </span>
                                <input type="text" class="form-control" required [(ngModel)]="model.Telephon" name="Telephon" id="Telephon" placeholder="Enter Telephone Number"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="username" class="cols-sm-2 control-label">Faculty</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-suitcase fa" aria-hidden="true"></i>
                                </span>

                                <select [(ngModel)]="model.faculty" name="faculty" id="faculty" class="form-control" required>
                                    <option value="" disabled selected>Select your Faculty</option>
                                    <option *ngFor="let item of faculty; let myIndex = index" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="password" class="cols-sm-2 control-label">Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="password" [(ngModel)]="model.Password" class="form-control" name="password" id="password" placeholder="Enter your Password"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                                </span>
                                <input type="password" [(ngModel)]="model.Passwordchk" class="form-control" name="confirm" id="confirm" placeholder="Confirm your Password"
                                />
                            </div>
                        </div>
                    </div>
                    <button data-dismiss="modal" [disabled]="!registerForm.valid || model.Password != model.Passwordchk || model.Password.length < 4"
                        type="button" class="btn btn-primary btn-lg btn-block login-button" (click)="register()">Register</button>
                </div>
            </div>
        </div>
    </div>
</form>



<div class="modal fade modal-center" id="Rent-Confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <div *ngIf="user.rented == 0" class="center-block" style="text-align: center">
                    <button type="button" data-dismiss="modal" class="btn btn-success btn-lg" (click)="rent(rentID)">Yes</button>
                    <i class="fa fa-fw fa-pause"></i>
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-lg">No</button>
                </div>
                <div *ngIf="user.rented == 1" class="center-block" style="text-align: center">
                    <div class="alert alert-danger">
                        <strong>Error: </strong> This user has Rented before
                    </div>
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-lg">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-center" id="Resv-Confirm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <div class="center-block" style="text-align: center">
                    <button type="button" data-dismiss="modal" class="btn btn-success btn-lg" (click)="getResv(resv.getResvID)">Yes</button>
                    <i class="fa fa-fw fa-pause"></i>
                    <button type="button" data-dismiss="modal" class="btn btn-danger btn-lg">No</button>
                </div>
            </div>
        </div>
    </div>
</div>